/* FUENTES TIPOGRAFICAS */
@font-face {
    font-family: Montserrat-Black;
    src: url("../fonts/Montserrat-Black.otf") format("opentype");
}
@font-face{
	font-family: Montserrat-BlackItalic;
	src: url("../fonts/Montserrat-BlackItalic.otf");
}
@font-face{
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.otf);
}
@font-face{
	font-family: Montserrat-BoldItalic;
	src:url(../fonts/Montserrat-BoldItalic.otf);
}
@font-face{
	font-family: Montserrat-ExtraBold;
	src: url(../fonts/Montserrat-ExtraBold.otf);
}
@font-face{
	font-family: Montserrat-ExtraBoldItalic;
	src:url(../fonts/Montserrat-ExtraBoldItalic.otf);
}
@font-face{
	font-family: Montserrat-ExtraLight;
	src: url(../fonts/Montserrat-ExtraLight.otf);
}
@font-face{
	font-family: Montserrat-ExtraLightItalic;
	src: url(../fonts/Montserrat-ExtraLightItalic.otf);
}
@font-face{
	font-family: Montserrat-Italic;
	src: url(../fonts/Montserrat-Italic.otf);
}
@font-face{
	font-family: Montserrat-Light;
	src: url(../fonts/Montserrat-Light.otf);
}
@font-face{
	font-family: Montserrat-LightItalic;
	src: url(../fonts/Montserrat-LightItalic.otf);
}
@font-face{
	font-family: Montserrat-Medium;
	src: url(../fonts/Montserrat-Medium.otf);
}
@font-face{
	font-family: Montserrat-MediumItalic;
	src: url(../fonts/Montserrat-MediumItalic.otf);
}
@font-face{
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.otf);
}
@font-face{
	font-family: Montserrat-SemiBold;
	src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face{
	font-family: Montserrat-SemiBoldItalic;
	src: url(../fonts/Montserrat-SemiBoldItalic.otf);
}
@font-face{
	font-family: Montserrat-Thin;
	src: url(../fonts/Montserrat-Thin.otf);
}
@font-face{
	font-family: Montserrat-MediumItalic;
	src: url(../fonts/Montserrat-ThinItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-Black;
	src: url(../fonts/MontserratAlternates-Black.otf);
}
@font-face{
	font-family: MontserratAlternates-BlackItalic;
	src: url(../fonts/MontserratAlternates-BlackItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-Bold;
	src: url(../fonts/MontserratAlternates-Bold.otf);
}
@font-face{
	font-family: MontserratAlternates-BoldItalic;
	src: url(../fonts/MontserratAlternates-BoldItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-ExtraBold;
	src: url(../fonts/MontserratAlternates-ExtraBold.otf);
}
@font-face{
	font-family: MontserratAlternates-ExtraBoldItalic;
	src: url(../fonts/MontserratAlternates-ExtraBoldItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-ExtraLight;
	src: url(../fonts/MontserratAlternates-ExtraLight.otf);
}
@font-face{
	font-family: MontserratAlternates-ExtraLightItalic;
	src: url(../fonts/MontserratAlternates-ExtraLightItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-Italic;
	src: url(../fonts/MontserratAlternates-Italic.otf);
}
@font-face{
	font-family: MontserratAlternates-Light;
	src: url(../fonts/MontserratAlternates-Light.otf);
}
@font-face{
	font-family: MontserratAlternates-LightItalic;
	src: url(../fonts/MontserratAlternates-LightItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-Medium;
	src: url(../fonts/MontserratAlternates-Medium.otf);
}
@font-face{
	font-family: MontserratAlternates-MediumItalic;
	src: url(../fonts/MontserratAlternates-MediumItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-Regular.;
	src: url(../fonts/MontserratAlternates-Regular.otf);
}
@font-face{
	font-family: MontserratAlternates-SemiBold;
	src: url(../fonts/MontserratAlternates-SemiBold.otf);
}
@font-face{
	font-family: MontserratAlternates-SemiBoldItalic;
	src: url(../fonts/MontserratAlternates-SemiBoldItalic.otf);
}
@font-face{
	font-family: MontserratAlternates-Thin;
	src: url(../fonts/MontserratAlternates-Thin.otf);
}
@font-face{
	font-family: MontserratAlternates-ThinItalic;
	src: url(../fonts/MontserratAlternates-ThinItalic.otf);
}

/*MEDIAS
320 x 480 – Smartphone
480 x 320 – Smartphone in landscape orientation
768 x 1024 – iPad
1024 x 768 – iPad in landscape orientation / netbook
*/
/*MENU*/
#menu, #menu_opciones{
	background: #4D0000 ;
	position: fixed;
	width: 100%;
	border-style: none;
	border-radius:unset;
	margin: 0;
	z-index: 10;
	text-align: center;
}
#menu_opciones{
	background: #b17e25a6 ;
}
#logo{
	width: 100%;
	text-align: center;
}
#logo img{
	width: 10%;
    margin-bottom: -3%;
    margin-top: -1%;
}
.iconos_redes_sociales{
 	text-align: right;
 	margin-right: 10%;
}
.iconos_redes_sociales img{
	width: 2% !important;
    margin: 4px!important;
    margin-top: -2% !important;
}
/*#inicio{
	width: 100%;
	height: 100vh;
}
.fondocss{
	top:0;
	left: 0;
	width: 100%;
	z-index: 0;
}*/
#inicio{
	width: 100%;
	height: 100vh;
	/*text-align: right;*/
	
}
.imagen_inicio{

	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.video_inicio{
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contenido_inicio{
	position: absolute;
    text-shadow: 2px 2px 8px #201F1F;
	display: inline-block;
	margin-left: 60%;
	text-align: center;
	top: 30vh;
	

}
.contenido_inicio h1{
	font-size: 80px;
	color:#000;
	font-family: Montserrat-Medium;


}
.contenido_inicio img{
	width: 80%;
}
.descripcion_inicio {
	width: 100%;
	height: 15vh;
 
}
.seccion{
	color: #fff;
	font-size: 20px;
    height: 15vh;
    text-align: center;
    padding: 20px;
    border: 1px solid #ffffff69;
    margin-top: 18vh;
    background: #4d0000cf;
}
#nosotros{
	width: 100%;
	height: 100vh;
	
}
.nosotros_seccion1{
	width: 100%;
	height: 70vh;
	background-image: url(../img/nosotros.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.contenido_nosotros{
	width: 25%;
	right: 50px;
	margin-top: 20vh;
	position: absolute;
	border-bottom: 3px solid #000;
	border-top: 2px solid #000;
	text-align: center;
	color: #000;
}
.contenido_nosotros h1{
	font-size: 60px;
	text-align: center;
	font-family: Montserrat-Medium;
}
.contenido_nosotros p{
	font-size: 20px;
	text-align: center;
}
.descripcion_nosotros{
	background: #260F01;
	height: 30vh;
	text-align: center;
	color: #fff;
	padding: 30px 300px;
	font-size: 15px;

	position: absolute;
}
.descripcion_nosotros img
{
 width: 15%;
}

#servicios{
	width: 100%;
	height: 120vh;
	
}
.seccion_1_servicios{
	width: 100%;
	height: 60vh;
	background: #4D0000;
	display: inline-block;
}
.txt_servicios{
	font-size: 40px;
	font-family: Montserrat-Medium;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.seccion_2_servicios{
	width: 100%;
	height: 60vh;
	background: #757070;
	display: inline-block;
	
}
#instalaciones{
	width: 100%;
	height: 60vh;
	background: #4D0000;
}
.txt_instalaciones{
	font-size: 40px;
	font-family: Montserrat-Medium;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.container_img_promociones{}
#promociones{
	padding-top:50px; 
	width: 100%;
	height: 50vh;
	background: #260F01;
}
.txt_promociones{
	font-size: 40px;
	color: #fff;
	padding: 20px;
	text-align: center;
}
#citas{
	width: 100%;
	height: 100vh;
	background-image: url(../img/servicios.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.citas_formulario{
	padding: 40px;
	font-family: Montserrat-Medium;
	color: #000;
}
.citas_formulario h1 strong{
	font-size: 55px;

	
}	

.citas_formulario img{
	padding: 10px;
	width: 40%;
	margin-left: 50%;
}
#ubicacion{
	padding-top: 50px; 
	width: 100%;
	height: 80vh;
	background: #4D0000;
}
.txt_ubicacion{
	
	font-size: 40px;
	font-family: Montserrat-Medium;
	color: #fff;
	padding: 20px;
	text-align: center;

}
.ubicacion_mapa{
	width: 100%;
	height: 80%;

}
#footer{
	width: 100%;
	height: 25vh;
	background: #4D0000
}
.ft_logo img{
	width: 90%;
}
.ft_menu{
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.ft_menu ul{
	text-align: left;
	font-size: 14px;
	margin-left: 100px;
}
.ft_menu hr{
    width: 40%;
    border-bottom: 1px solid #fff;
}
.ft_mapa{
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.ft_mapa ul{
	margin-left: 100px;
	text-align: left;
	font-size: 14px;
}
.ft_mapa hr{
    width: 40%;
    border-bottom: 1px solid #fff;
}
.ft_contacto{
	color: #fff;
	font-size: 16px;
}
.ft_contacto strong{
	color: #fff;
	font-size: 22px;
}
.ft_pie_pagina{
	font-size: 12px;
    letter-spacing: 2px;
    color: #ccc;
    bottom: 0px;
    background: #400400;
    display: inline-block;
    width: 100%;
    height: 5vh;
    padding: 20px;
    text-align: center;
}
.ft_iconos_redes_sociales{
 	text-align: right;
 	margin-right: 10%;
 	padding-top: 45px;
}
.ft_iconos_redes_sociales img{
	width: 6% !important;
    margin: 4px!important;
    margin-top: -2% !important;
}
/*CARUSEL*/
  
 #myCarousel{
 	height: 75%;

 }
 .carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 60vh !important;
    background-size: cover;
    background-position: center;
}
 .carousel-inner>.item>h1{
	text-align: center;
    position: absolute;
    /* z-index: 2; */
    font-size: 50px;
    padding: 13% 40%;
    color: #fff;
}
@media only screen and (min-width: 1400px) {

}
@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 320px) {}



/*cambio de elementos de bootstrap*/

.modal-content {
	border-radius: 0 !important;
}
#exampleModalLabel img{
	width: 25%;
	top: -10px;
	padding-left: -20px;
	margin-left:0px !important;
	position: absolute;
}

.modal-header{
	text-align: center;
	color: #fff;
    background: #400400;
}
.modal-header strong{
	font-size: 25px;
}

.form-control {
    
    height: 40px;
    font-size: 14px;
    color: #000;
    background: #fff;
    border-radius: 0px;
}


    